<div *ngIf="movie" class="page-container">
  <div class="poster">
    <img
      [src]="movie.imageUrl ? movie.imageUrl : '../../assets/film-poster-placeholder.png'"
      alt="poster"
      class="img"
    >
  </div>
  <div class="placeholder"></div>
  <div class="details">
    <h1 class="title">{{movie.title}}</h1>
    <p>{{movie.releaseDate}}</p>
    <p>
      <span *ngFor="let genre of movie?.genres; let isLast = last">{{genre}}{{isLast ? '' : ', '}}</span>
    </p>
    <p>Directed by <strong>{{movie.director}}</strong></p>
    <p class="rating">- {{movie.rating}} -</p>
  </div>
</div>
